
    <ion-pane>
      <ion-header-bar class="bar bar-stable">

        <button class="icon ion-navicon button button-clear"  ng-click="toggleLeft()"></button>
     <h1 class="title">Main Screen</h1>
      </ion-header-bar>
      <ion-content>
     
      <div class="list">

    <a class="item item-thumbnail-left" ui-sref="detail" ng-repeat="x in restaurant">
      <img src="{{x.img}}">
      <h2>{{x.name}}</h2>
      <p>{{x.city}}</p>
      <p>{{x.hours}}</p>
      <p>{{x.specific}}</p>
    </a>



</div>
      </ion-content>
    </ion-pane>

