
    <ion-pane>
      <ion-header-bar class="bar-stable" style="background-color:#FFB240;color:">
        <h1 class="title">Add new Card</h1>
      </ion-header-bar>
      <ion-content>
    

    <p>Please enter Credit card info</p>
     
     <div class="list list-inset">
       <label class="item item-input">
         <i class="ion-ios-time-outline placeholder-icon"></i>
         <input type="text" placeholder="Owner name"  ng-model="cred.name" >
       </label>
        <label class="item item-input">
         <i class="ion-ios-time-outline placeholder-icon"></i>
         <input type="text" placeholder="card Number"  ng-model='cred.num'>
       </label>
       <label class="item item-input">
         <i class="ion-ios-time-outline placeholder-icon"></i>
         <input type="number" placeholder="cvv"  ng-model='cred.cvv'>
       </label>

     </div>
     <<button class="button button-full button-stable" ng-click="addCardData()" style="background-color:#FFB240;color:">
       Add new card
     </button>
      </ion-content>
    </ion-pane>


