
    <ion-pane>
  <ion-header-bar class="bar-stable" style="background-color:#FFB240;color:">
     <button class="icon ion-android-arrow-back button button-clear" ui-sref="setting" style="background-color:#FFB240;color:"></button>
        <h1 class="title">Help</h1>
<!--         <buttom class="icon ion-gear-a button button-clear"></buttom>
 -->      </ion-header-bar>
      <ion-content>
      
      <div class="list">
      <small>contact our team</small>
        <label class="item item-input">
          <textarea type="text" height="500" placeholder="Leave us a Message"></textarea>
        </label>
        <small>Upload a picture</small>
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="file" placeholder="Search">
          </label>
         
        </div>
        
      
      </div>
     

     
        <button class="button button-full button-stable" style="background-color:#FFB240;color:">
          Send  message
        </button>
       <center> <small> View terms and condition</small> </center>
    
      
      
      </ion-content>
    </ion-pane>



  </body>
</html>
